/* css/custom.css */
.g_id_signin {
    margin-top: 20px;
}

.box-custom {
    background-color: #3273dc; /* Bulmaのprimary色 */
    color: white;
    text-align: center;
    padding: 2rem;
    border-radius: 8px;
}

.user-image {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    margin-bottom: 20px;
}
