/* css/custom.css */
.g_id_signin {
    margin-top: 20px;
}

.box-custom {
    background-color: #3273dc; /* Bulmaのprimary色 */
    color: white;
    text-align: center;
}

.user-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}
